<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about/">About</a></li>
	        		<li><a href="/blog/">Blog</a></li>
				<li><a href="/monologues/">Monologues</a></li>	
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="mailto:coldopensblog@gmail.com">email</a></li>
				class="copyright">Copyright&copy;<a href="<?php bloginfo('coldopens.com'); ?>" title="<?php bloginfo('Cold Opens'); ?>home"><?php bloginfo('Cold Opens'); ?></a> <?php echo date('2020'); ?> All Rights Reserved.
			</ul>
			</nav>	
			</footer>
		</body>
	</html>
